body{
    background: url('image/nendep.jpg');
    background-size: cover;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.out {
    margin-left: 370px;
    background: #d30000;
}

.out > a{
    text-decoration: none;
}

#form-login {
    max-width: 400px;
    background: rgb(46, 46, 46);
    flex-grow: 1;
    padding: 30px 30px 40px;
    
}

.heading {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}


.group {
    border-bottom: 1px solid white;
    margin-top: 15px;
    margin-bottom: 20px;
}


.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    flex-grow: 1;
    width: 100%;
}


.form-submit {
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-top: 30px;
}

.form-submit:hover {
    border: 1px solid #d30000;
}

.mk {
    display: flex;
    padding-top: 20px;
    
}

.mk > li{
    list-style: none;
    width: 100%;

}

.mk > li a {

    color: white;
    display: flex;
    width: 300px;
}
